body {
    background-color: darkgreen;
    font-family: "Silkscreen";
    font-size: large;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#main-container {
    width: 350px;
   outline: 2px solid red;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn {
    all:unset;
    border: 2px dotted red;
    font-size:x-large;
    transition-duration: 0.4s; 
    margin: 5px;
}

.btn:hover {
   
    background-color: green;
    border: 2px dotted yellow;
}

#roundDisplay {
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: dotted 2px yellowgreen;
    gap: 5px;
    width: 313px;
    margin: 20px;
}

#roundCounter {
    
    color: red;
}

/* #results {
     margin-right: auto;
}
 */

#finalScore {
    background-color: green;
    margin: 5%;
    width: 350px;
}